<div>
  <button mat-button>
    <mat-icon>search</mat-icon>
    <span
      class="ms-1"
      routerLink="/kunden/suche"
      routerLinkActive="active"
      class="mat-list-item-content"
      aria-label="Suche Kunden"
    >
      Suche
    </span>
  </button>

  <button mat-button *ngIf="isAdmin$ | async">
    <mat-icon>person_add</mat-icon>
    <span
      class="ms-1"
      routerLink="/kunden/create"
      class="mat-list-item-content"
      aria-label="Neuen Kunde anlegen"
      i
    >
      Kunde anlegen
    </span>
  </button>

  <button mat-button [matMenuTriggerFor]="menu" *ngIf="isAdmin$ | async">
    <mat-icon>bar_chart</mat-icon>
    <span class="ms-1">Diagramme</span>
    <mat-menu #menu="matMenu" yPosition="below">
      <button
        mat-menu-item
        routerLink="/kunden/balkendiagramm"
        mat-menu-item
        aria-label="Balkendiagramm fuer Bewertungen"
      >
        <mat-icon>bar_chart</mat-icon>
        <span class="ms-1">Balkendiagramm</span>
      </button>
      <a
        routerLink="/kunden/liniendiagramm"
        mat-menu-item
        aria-label="Liniendiagramm fuer Bewertungen"
      >
        <mat-icon>multiline_chart</mat-icon>
        <span class="ms-1">Liniendiagramm</span>
      </a>
      <a
        routerLink="/kunden/tortendiagramm"
        mat-menu-item
        aria-label="Tortendiagramm fuer Bewertungen"
      >
        <mat-icon>pie_chart</mat-icon>
        <span class="ms-1">Tortendiagramm</span>
      </a>
    </mat-menu>
  </button>
</div>
<hs-login-logout></hs-login-logout>
