<div *ngIf="kunde">
  <hs-details-nachname [nachname]="kunde.nachname"></hs-details-nachname>
  <hs-details-email [email]="kunde.email"></hs-details-email>
  <hs-details-kategorie [kategorie]="kunde.kategorie"></hs-details-kategorie>
  <hs-details-has-newsletter
    [hasNewsletter]="kunde.hasNewsletter"
  ></hs-details-has-newsletter>
  <hs-details-geburtsdatum
    [geburtsdatum]="kunde.geburtsdatum"
  ></hs-details-geburtsdatum>
  <hs-details-geschlecht
    [geschlecht]="kunde.geschlecht"
  ></hs-details-geschlecht>
  <hs-details-familienstand
    [familienstand]="kunde.familienstand"
  ></hs-details-familienstand>
  <hs-details-ort [ort]="kunde.adresse.ort"></hs-details-ort>
  <hs-details-plz [plz]="kunde.adresse.plz"></hs-details-plz>
  <!-- <hs-details-betrag [betrag]="10"></hs-details-betrag>
  <hs-details-waehrung [waehrung]="'EUR'"></hs-details-waehrung> -->
  <!-- <hs-details-username [username]="user.username"></hs-details-username> -->
</div>
