<div *ngIf="kunde">
    <hs-details-nachname [nachname]="kunde.nachname"></hs-details-nachname>
    <hs-details-email [email]="kunde.email"></hs-details-email>
    <hs-details-kategorie [kategorie]="kunde.kategorie"></hs-details-kategorie>
    <hs-details-has-newsletter [hasNewsletter]="kunde.hasNewsletter"></hs-details-has-newsletter>
    <hs-details-geburtsdatum [geburtsdatum]="kunde.geburtsdatum"></hs-details-geburtsdatum>
    <hs-details-geschlecht [geschlecht]="kunde.geschlecht"></hs-details-geschlecht>
    <hs-details-familienstand [familienstand]="kunde.familienstand"></hs-details-familienstand>
  </div>
