<mat-form-field class="col col-10 gy-3" [formGroup]="form">
  <mat-label for="umsatzInput">Umsatz</mat-label>
  <input matInput
    id="umsatzInput"
    placeholder="Umsatz, z.B. 12345.67"
    required
    type="number"
    formControlName="umsatz"
    [class.is-invalid]="umsatz.invalid && umsatz.touched"
    [class.is-valid]="umsatz.valid && umsatz.touched"
  />
  <mat-error *ngIf="umsatz.invalid && umsatz.touched && umsatz.errors">
    <mat-icon>error</mat-icon>
    <span class="ms-1" *ngIf="umsatz.errors['required']">
      Der Umsatz muss eingegeben werden, z.B. 12345.67.
    </span>
  </mat-error>
</mat-form-field>
<span class="input-group-addon ms-1">&#x20ac;</span>
