<div class="row">
  <label for="umsatzInput" class="col col-2 col-form-label gy-3"
    >Umsatz *</label
  >
  <div class="col col-10 gy-3" [formGroup]="form">
    <div class="input-group">
      <input
        id="umsatzInput"
        placeholder="Umsatz, z.B. 12345.67"
        required
        class="form-control"
        type="number"
        formControlName="umsatz"
        [class.is-invalid]="umsatz.invalid && umsatz.touched"
        [class.is-valid]="umsatz.valid && umsatz.touched"
      />
      <span class="input-group-addon ms-1">&#x20ac;</span>

      <div
        class="invalid-feedback"
        *ngIf="umsatz.invalid && umsatz.touched && umsatz.errors"
      >
        <mat-icon>error</mat-icon>
        <span class="ms-1" *ngIf="umsatz.errors['required']">
          Der Umsatz muss eingegeben werden, z.B. 12345.67.
        </span>
      </div>
    </div>
  </div>
</div>
