<mat-form-field appearance="fill" [formGroup]="form">
  <mat-label>Kategorie auswaehlen</mat-label>
  <mat-select 
  id="kategorieInput"
  formControlName="kategorie"
  [class.is-invalid]="kategorie.invalid && kategorie.touched"
  [class.is-valid]="kategorie.valid && kategorie.touched"
  disableRipple>
    <mat-optgroup label="Hoch">
      <mat-option value="9">9</mat-option>
      <mat-option value="8">8</mat-option>
      <mat-option value="7">7</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Mittel">
      <mat-option value="6">6</mat-option>
      <mat-option value="5">5</mat-option>
      <mat-option value="4">4</mat-option>
    </mat-optgroup>
    <mat-optgroup label="Niedrig">
      <mat-option value="3">3</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="1">1</mat-option>
      <mat-option value="0">0</mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>
