<div class="row">
  <mat-form-field class="col col-10 gy-3" [formGroup]="form">
    <div class="checkbox-icon" *ngIf="!email.errors">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" style="height:20px; position: absolute; right: 0; color: green" class="">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
    <mat-label for="emailInput">E-Mail</mat-label>
    <input
      matInput
      id="emailInput"
      placeholder="max.mustermann@acme.com"
      formControlName="email"
      [class.is-invalid]="email.invalid && email.touched"
      [class.is-valid]="email.valid && email.touched"
    />
    <mat-error *ngIf="email.invalid && email.touched && email.errors">
      <mat-icon>error</mat-icon>
      <span class="ms-1">
        <span *ngIf="email.errors['required']"> E-Mail ist erforderlich. </span>
        <span *ngIf="email.errors['pattern']">
          E-Mail muss dem gültigen Muster einer E-Mail-Adresse entsprechen.
        </span>
      </span>
    </mat-error>
  </mat-form-field>
</div>
