<mat-form-field class="col col-10 gy-3" [formGroup]="form">
  <mat-label for="plzInput">Postleitzahl</mat-label>
  <input matInput
    id="plzInput"
    placeholder="76133"
    required
    maxlength="5"
    formControlName="plz"
    [class.is-invalid]="plz.invalid && plz.touched"
    [class.is-valid]="plz.valid && plz.touched"
  />
  <mat-error *ngIf="plz.invalid && plz.touched && plz.errors">
    <mat-icon>error</mat-icon>
    <span
      class="ms-1"
      *ngIf="plz.errors['required'] && plz.errors['pattern']"
    >
      Eine gültige Postleitzahl, z.B. 76133, muss eingegeben werden.
    </span>
  </mat-error>
</mat-form-field>
