<mat-form-field class="col col-10 gy-3" [formGroup]="form">
  <div class="checkbox-icon" *ngIf="!password.errors">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      style="height: 20px; position: absolute; right: 0; color: green"
      class=""
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
  </div>
  <mat-label for="passwordInput">Passwort</mat-label>
  <input
    matInput
    type="password"
    id="passwordInput"
    placeholder="Pass1234!"
    required
    minlength="8"
    formControlName="password"
    [class.is-invalid]="password.invalid && password.touched"
    [class.is-valid]="password.valid && password.touched"
  />
  <mat-error *ngIf="password.invalid && password.touched && password.errors">
    <mat-icon>error</mat-icon>
    <span class="ms-1">
      <span *ngIf="password.errors['required']">
        Passwort ist erforderlich.
      </span>
      <span *ngIf="password.errors['minlength']">
        Das Passwort muss mindestens 8 Zeichen lang sein.
      </span>
    </span>
  </mat-error>
</mat-form-field>
