<mat-form-field appearance="fill" [formGroup]="form">
  <mat-label>Familienstand</mat-label>
  <mat-select
    id="familienstandInput"
    formControlName="familienstand"
    [class.is-invalid]="familienstand.invalid && familienstand.touched"
    [class.is-valid]="familienstand.valid && familienstand.touched"
    disableRipple
  >
    <mat-option value="LEDIG">Ledig</mat-option>
    <mat-option value="GESCHIEDEN">Geschieden</mat-option>
    <mat-option value="VERHEIRATET">Verheiratet</mat-option>
    <mat-option value="VERWITWET">Verwitwet</mat-option>
  </mat-select>
</mat-form-field>
