<mat-form-field appearance="fill" [formGroup]="form">
  <div class="checkbox-icon" *ngIf="!waehrung.errors">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      style="height: 20px; position: absolute; right: 0; color: green"
      class=""
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
  </div>
  <mat-label>Waehrung</mat-label>
  <mat-select 
  id="waehrungInput"
  formControlName="waehrung"
  [class.is-invalid]="waehrung.invalid && waehrung.touched"
  [class.is-valid]="waehrung.valid && waehrung.touched"
  disableRipple>
    <mat-option value="EUR">EUR</mat-option>
    <mat-option value="USD">USD</mat-option>
    <mat-option value="CHF">CHF</mat-option>
    <mat-option value="GBP">GBP</mat-option>
  </mat-select>
</mat-form-field>
