<mat-form-field appearance="fill">
  <mat-label>Kategorie auswaehlen</mat-label>
  <select matNativeControl>
    <optgroup label="Hoch">
      <option value="9">9</option>
      <option value="8">8</option>
      <option value="7">7</option>
    </optgroup>
    <optgroup label="Mittel">
      <option value="6">6</option>
      <option value="5">5</option>
      <option value="4">4</option>
    </optgroup>
    <optgroup label="Niedrig">
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1</option>
      <option value="0">0</option>
    </optgroup>
  </select>
</mat-form-field>
