<mat-form-field appearance="fill" [formGroup]="form">
  <mat-label>Waehrung</mat-label>
  <mat-select
    id="waehrungInput"
    formControlName="waehrung"
    [class.is-invalid]="waehrung.invalid && waehrung.touched"
    [class.is-valid]="waehrung.valid && waehrung.touched"
    required
    disableRipple
  >
    <mat-option value="EUR">EUR</mat-option>
    <mat-option value="USD">USD</mat-option>
    <mat-option value="CHF">CHF</mat-option>
    <mat-option value="GBP">GBP</mat-option>
  </mat-select>
</mat-form-field>
