<mat-form-field class="col col-10 gy-3" [formGroup]="form">
  <mat-label for="homepageInput">Homepage</mat-label>
  <input
    matInput
    id="homepageInput"
    placeholder="https://www.acme.com"
    formControlName="homepage"
    [class.is-invalid]="homepage.invalid && homepage.touched"
    [class.is-valid]="homepage.valid && homepage.touched"
  />
  <mat-error *ngIf="homepage.invalid && homepage.touched && homepage.errors">
    <mat-icon>error</mat-icon>
    <span class="ms-1">
      <span *ngIf="homepage.errors['pattern']">
        Eine gültige URL, z.B. https://acme.com, muss eingegeben werden.
      </span>
    </span>
  </mat-error>
</mat-form-field>
