<section class="card" [@fadeIn]="'in'">
  <mat-card-header color="primary">
    <mat-icon>search</mat-icon>
    <span class="ms-1 fw-bold"> Eingabe der Suchkriterien </span>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="onSubmit()" role="form">
      <hs-suche-nachname (nachname$)="setNachname($event)"></hs-suche-nachname>
      <hs-suche-familienstand
        (familienstand$)="setFamilienstand($event)"
      ></hs-suche-familienstand>
      <hs-suche-geschlecht
        (geschlecht$)="setGeschlecht($event)"
      ></hs-suche-geschlecht>
      <hs-suche-interessen
        (sport$)="setSport($event)"
        (lesen$)="setLesen($event)"
        (reisen$)="setReisen($event)"
      >
      </hs-suche-interessen>

      <div class="row">
        <div class="col offset-2 gy-3">
          <mat-icon>info</mat-icon>
          <span class="ms-1"> Hinweis: Keine Eingabe liefert alle Kunden </span>
        </div>
      </div>

      <div class="row">
        <div class="col offset-2 gy-3">
          <button type="submit" mat-raised-button color="primary">
            <mat-icon color="white">search</mat-icon>
            <button mat-button color="white">Suchen</button>
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</section>
